<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">Bienvenue sur le launcher de La Fun Attitude</span>
        <span id="welcomeDescription">Nous voulons être une grande famille où règne un état d’esprit soudé et convivial ! N’attends plus et rejoins nous ! La fun attitude est une team et communauté multigaming , MOBA, MMORPG, FPS, BAC A SABLE… Nous avons pour but de réunir des joueurs passionnés avec le même état d’esprit que le notre : l’entraide, le partage et le respect qui sont des valeurs importantes et essentielles pour nous. Tout est mis en œuvre pour que nos membres puissent trouver une structure organisée et complète. Nous souhaitons que la fun attitude soit reconnu comme une team ambitieuse respectant ses valeurs. Tous les types de profils sont acceptés sur la fun attitude, que vous soyez dans une optique purement fun ou purement compétitive, nous espérons que vous puissiez trouver vos marques rapidement en notre compagnie !</span>
        <br>
        <span id="welcomeDescCTA">Vous n'êtes qu'à quelques clics de La Fun Attitude.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                Cntinuer
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>